<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
	<div>
		<%= form_tag sessions_path do %>
			<%= label_tag       :email %>
			<%= email_field_tag :email, params[:email], class: "form-control", placeholder: "john.doe@john.doe", required: true, autofocus: true %>

			<%= label_tag          :password %>
			<%= password_field_tag :password,  params[:password], class: "form-control", required: true %>

			<%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>New user? <%= link_to "Signup now!", signup_path %></p>
	</div>
</div>